# coding: utf-8

"""
    Pure1 Public REST API

    Pure1 Public REST API, developed by [Pure Storage, Inc.](http://www.purestorage.com/)  [Knowledge base reference documentation](https://support.purestorage.com/Pure1/Pure1_Manage/Pure1_Manage_-_REST_API/Pure1_Manage_-_REST_API__Reference)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from pypureclient.pure1.api_client import ApiClient


class AuthorizationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def oauth210_token_post(self, grant_type, subject_token, subject_token_type, **kwargs):  # noqa: E501
        """oauth210_token_post  # noqa: E501

        Exchange an ID token for an access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.oauth210_token_post(grant_type, subject_token, subject_token_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str grant_type: The value `urn:ietf:params:oauth:grant-type:token-exchange` indicates that a token exchange is being performed. (required)
        :param str subject_token: A security token that represents the identity of the party on behalf of whom the request is being made. (required)
        :param str subject_token_type: An identifier that indicates the type of the security token in the \"subject_token\" parameter. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.oauth210_token_post_with_http_info(grant_type, subject_token, subject_token_type, **kwargs)  # noqa: E501
        else:
            (data) = self.oauth210_token_post_with_http_info(grant_type, subject_token, subject_token_type, **kwargs)  # noqa: E501
            return data

    def oauth210_token_post_with_http_info(self, grant_type, subject_token, subject_token_type, **kwargs):  # noqa: E501
        """oauth210_token_post  # noqa: E501

        Exchange an ID token for an access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.oauth210_token_post_with_http_info(grant_type, subject_token, subject_token_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str grant_type: The value `urn:ietf:params:oauth:grant-type:token-exchange` indicates that a token exchange is being performed. (required)
        :param str subject_token: A security token that represents the identity of the party on behalf of whom the request is being made. (required)
        :param str subject_token_type: An identifier that indicates the type of the security token in the \"subject_token\" parameter. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['grant_type', 'subject_token', 'subject_token_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method oauth210_token_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'grant_type' is set
        if ('grant_type' not in params or
                params['grant_type'] is None):
            raise ValueError("Missing the required parameter `grant_type` when calling `oauth210_token_post`")  # noqa: E501
        # verify the required parameter 'subject_token' is set
        if ('subject_token' not in params or
                params['subject_token'] is None):
            raise ValueError("Missing the required parameter `subject_token` when calling `oauth210_token_post`")  # noqa: E501
        # verify the required parameter 'subject_token_type' is set
        if ('subject_token_type' not in params or
                params['subject_token_type'] is None):
            raise ValueError("Missing the required parameter `subject_token_type` when calling `oauth210_token_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'grant_type' in params:
            form_params.append(('grant_type', params['grant_type']))  # noqa: E501
        if 'subject_token' in params:
            form_params.append(('subject_token', params['subject_token']))  # noqa: E501
        if 'subject_token_type' in params:
            form_params.append(('subject_token_type', params['subject_token_type']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/oauth2/1.0/token', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
