[project]
name = "py-pure-client"
version = "1.43.1"
description = "Pure Storage Python clients for FlashArray, FlashBlade, and Pure1 APIs"
authors = [
    { name = "Pure Storage", email = "openconnect@purestorage.com" }
]
readme = "README.md"
license = {file = "LICENSE.txt"}
requires-python = ">=3.5"
keywords = ['Swagger', 'Pure Storage', 'Python', 'clients', 'REST', 'API', 'FlashArray', 'FlashBlade', 'Pure1']
classifiers = [
    "Topic :: Software Development :: Libraries",
    "Operating System :: OS Independent"
]
dependencies = [
    'certifi >=2022.9.24, <=2023.7.22',
    'six >=1.10, <=1.16.0',
    'python_dateutil >=2.5.3, <=2.8.1',
    'setuptools >=21.0.0, <=68.1.2',
    'urllib3 >=1.26.5, <=1.26.12',
    'paramiko >=2.11.0, <= 2.12.0',
    'pyjwt >=2.0.0, <=2.8.0',
    'requests >=2.20.1, <=2.31.0',
    'typing >=3.7.4.1, <=3.7.4.3; python_version < "3.5"',
]

[project.urls]
"GitHub" = "https://github.com/PureStorage-OpenConnect/py-pure-client"
"Documentation" = "https://pure-storage-py-pure-client.readthedocs-hosted.com/en/latest/quick_start.html"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

