certifi >= 2024.07.04
setuptools >= 70.0.0, < 81.0.0; python_version <= "3.10"
setuptools >= 70.0.0; python_version > "3.10"
paramiko >= 3.4.0
pyjwt >= 2.0.0
urllib3 >= 1.26.17
python_dateutil >= 2.8.2
pydantic >= 1.10.14