
# coding: utf-8

"""
    FlashArray REST API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

    The version of the OpenAPI document: 2.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from pypureclient.flasharray.common.models.api_version_response_v_0 import ApiVersionResponse
from pypureclient.flasharray.common.models.oauth210_token_post400_response_v_0 import Oauth210TokenPost400Response
from pypureclient.flasharray.common.models.oauth210_token_post401_response_v_0 import Oauth210TokenPost401Response
from pypureclient.flasharray.common.models.oauth_token_response_v_0 import OauthTokenResponse
from pypureclient.flasharray.common.models.username_response_v_0 import UsernameResponse

import re  # noqa: F401
import io
import warnings

from typing_extensions import Annotated
try:
    from pydantic.v1 import Field, StrictStr
except ModuleNotFoundError:
    from pydantic import Field, StrictStr

from typing import Optional

from typing import Optional
from pypureclient._transport.api_client import ApiClient as _TransportApiClient
from pypureclient._transport.api_response import ApiResponse
from pypureclient._transport.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)
from pypureclient.reference_type import quote_string_parameter

class AuthorizationApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client: Optional[_TransportApiClient] = None, version: str = '2.0') -> None:
        self.api_client = api_client if api_client else _TransportApiClient.get_default()
        self.version = version

    def login_post_with_http_info(
        self,
        api_token: Annotated[Optional[StrictStr], Field(description="API token for a user.")] = None,
        x_request_id: Annotated[Optional[StrictStr], Field(description="Supplied by client during request or generated by server.")] = None,
        **kwargs
    ) -> ApiResponse:  # noqa: E501
        """POST login (placeholder)

        Exchange an API token for a session token.

        :param api_token: API token for a user.
        :type api_token: str
        :param x_request_id: Supplied by client during request or generated by server.
        :type x_request_id: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(UsernameResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'api_token',
            'x_request_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api20_login_post" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['api_token'] is not None:
            _header_params['api-token'] = _params['api_token']

        if _params['x_request_id'] is not None:
            _header_params['X-Request-ID'] = _params['x_request_id']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            '200': "UsernameResponse",
        }

        return self.api_client.call_api(
            f'/api/{self.version}/login', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    def logout_post_with_http_info(
        self,
        x_auth_token: Annotated[Optional[StrictStr], Field(description="Session token for a user.")] = None,
        x_request_id: Annotated[Optional[StrictStr], Field(description="Supplied by client during request or generated by server.")] = None,
        **kwargs
    ) -> ApiResponse:  # noqa: E501
        """POST logout (placeholder)

        Invalidate a session token.

        :param x_auth_token: Session token for a user.
        :type x_auth_token: str
        :param x_request_id: Supplied by client during request or generated by server.
        :type x_request_id: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'x_auth_token',
            'x_request_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api20_logout_post" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['x_auth_token'] is not None:
            _header_params['x-auth-token'] = _params['x_auth_token']

        if _params['x_request_id'] is not None:
            _header_params['X-Request-ID'] = _params['x_request_id']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            f'/api/{self.version}/logout', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    def api_api_version_get_with_http_info(
        self,
        x_request_id: Annotated[Optional[StrictStr], Field(description="Supplied by client during request or generated by server.")] = None,
        **kwargs
    ) -> ApiResponse:  # noqa: E501
        """List available API versions

        Returns a list of available API versions. No authentication is required to access this endpoint.

        :param x_request_id: Supplied by client during request or generated by server.
        :type x_request_id: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ApiVersionResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'x_request_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_api_version_get" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['x_request_id'] is not None:
            _header_params['X-Request-ID'] = _params['x_request_id']

        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            '200': "ApiVersionResponse",
        }

        return self.api_client.call_api(
            '/api/api_version', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    def oauth210_token_post_with_http_info(
        self,
        grant_type: Annotated[StrictStr, Field(..., description="The method by which the access token will be obtained. The Pure Storage REST API supports the OAuth 2.0 \\\"token exchange\\\" grant type, which indicates that a token exchange is being performed. Set `grant_type` to `urn:ietf:params:oauth:grant-type:token-exchange`.")],
        subject_token: Annotated[StrictStr, Field(..., description="An encoded security ID Token representing the identity of the party on behalf of whom the request is being made. The token must be issued by a trusted identity provider which must be either a registered application in Pure1 or an enabled API client on the array. The token must be a JSON Web Token and must contain the following claims: > | JWT claim | Location | API Client Field | Description | Required By | > |-|-|-|-|-| > | kid | Header | key_id | Key ID of the API client that issues the identity token. | FlashArray and FlashBlade only. | > | aud | Payload | id | Client ID of the API client that issues the identity token. | FlashArray and FlashBlade only. | > | sub | Payload | | Login name of the array user for whom the token should be issued. This must be a valid user in the system. | FlashArray and FlashBlade only. | > | iss | Payload | issuer | Application ID for the Pure1 or API client's trusted identity issuer on the array. | All products. | > | iat | Payload | | Timestamp of when the identity token was issued. Measured in milliseconds since the UNIX epoch. | All products. | > | exp | Payload | | Timestamp of when the identity token will expire. Measured in milliseconds since the UNIX epoch. | All products. |  Each token must also be signed with the private key that is paired with the API client's public key.")],
        subject_token_type: Annotated[StrictStr, Field(..., description="An identifier that indicates the type of security token specifed in the `subject_token` parameter. The Pure Storage REST API supports the JSON Web Token (JWT) as the means for requesting the access token. Set `subject_token_type` to `urn:ietf:params:oauth:token-type:jwt`.")],
        x_request_id: Annotated[Optional[StrictStr], Field(description="Supplied by client during request or generated by server.")] = None,
        **kwargs
    ) -> ApiResponse:  # noqa: E501
        """Get access token

        Exchanges an ID Token for an OAuth 2.0 access token.

        :param grant_type: The method by which the access token will be obtained. The Pure Storage REST API supports the OAuth 2.0 \\\"token exchange\\\" grant type, which indicates that a token exchange is being performed. Set `grant_type` to `urn:ietf:params:oauth:grant-type:token-exchange`. (required)
        :type grant_type: str
        :param subject_token: An encoded security ID Token representing the identity of the party on behalf of whom the request is being made. The token must be issued by a trusted identity provider which must be either a registered application in Pure1 or an enabled API client on the array. The token must be a JSON Web Token and must contain the following claims: > | JWT claim | Location | API Client Field | Description | Required By | > |-|-|-|-|-| > | kid | Header | key_id | Key ID of the API client that issues the identity token. | FlashArray and FlashBlade only. | > | aud | Payload | id | Client ID of the API client that issues the identity token. | FlashArray and FlashBlade only. | > | sub | Payload | | Login name of the array user for whom the token should be issued. This must be a valid user in the system. | FlashArray and FlashBlade only. | > | iss | Payload | issuer | Application ID for the Pure1 or API client's trusted identity issuer on the array. | All products. | > | iat | Payload | | Timestamp of when the identity token was issued. Measured in milliseconds since the UNIX epoch. | All products. | > | exp | Payload | | Timestamp of when the identity token will expire. Measured in milliseconds since the UNIX epoch. | All products. |  Each token must also be signed with the private key that is paired with the API client's public key. (required)
        :type subject_token: str
        :param subject_token_type: An identifier that indicates the type of security token specifed in the `subject_token` parameter. The Pure Storage REST API supports the JSON Web Token (JWT) as the means for requesting the access token. Set `subject_token_type` to `urn:ietf:params:oauth:token-type:jwt`. (required)
        :type subject_token_type: str
        :param x_request_id: Supplied by client during request or generated by server.
        :type x_request_id: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(OauthTokenResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'grant_type',
            'subject_token',
            'subject_token_type',
            'x_request_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method oauth210_token_post" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        if _params['x_request_id'] is not None:
            _header_params['X-Request-ID'] = _params['x_request_id']

        # process the form parameters
        _form_params = []
        _files = {}
        if _params['grant_type'] is not None:
            _form_params.append(('grant_type', _params['grant_type']))

        if _params['subject_token'] is not None:
            _form_params.append(('subject_token', _params['subject_token']))

        if _params['subject_token_type'] is not None:
            _form_params.append(('subject_token_type', _params['subject_token_type']))

        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/x-www-form-urlencoded']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            '200': "OauthTokenResponse",
            '400': "Oauth210TokenPost400Response",
            '401': "Oauth210TokenPost401Response",
        }

        return self.api_client.call_api(
            '/oauth2/1.0/token', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    # Method Aliases
    api20_login_post_with_http_info = login_post_with_http_info
    api20_logout_post_with_http_info = logout_post_with_http_info
    api20_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api20_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api21_login_post_with_http_info = login_post_with_http_info
    api21_logout_post_with_http_info = logout_post_with_http_info
    api21_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api21_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api210_login_post_with_http_info = login_post_with_http_info
    api210_logout_post_with_http_info = logout_post_with_http_info
    api210_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api210_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api211_login_post_with_http_info = login_post_with_http_info
    api211_logout_post_with_http_info = logout_post_with_http_info
    api211_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api211_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api213_login_post_with_http_info = login_post_with_http_info
    api213_logout_post_with_http_info = logout_post_with_http_info
    api213_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api213_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api214_login_post_with_http_info = login_post_with_http_info
    api214_logout_post_with_http_info = logout_post_with_http_info
    api214_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api214_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api215_login_post_with_http_info = login_post_with_http_info
    api215_logout_post_with_http_info = logout_post_with_http_info
    api215_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api215_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api216_login_post_with_http_info = login_post_with_http_info
    api216_logout_post_with_http_info = logout_post_with_http_info
    api216_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api216_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api217_login_post_with_http_info = login_post_with_http_info
    api217_logout_post_with_http_info = logout_post_with_http_info
    api217_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api217_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api219_login_post_with_http_info = login_post_with_http_info
    api219_logout_post_with_http_info = logout_post_with_http_info
    api219_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api219_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api22_login_post_with_http_info = login_post_with_http_info
    api22_logout_post_with_http_info = logout_post_with_http_info
    api22_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api22_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api220_login_post_with_http_info = login_post_with_http_info
    api220_logout_post_with_http_info = logout_post_with_http_info
    api220_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api220_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api221_login_post_with_http_info = login_post_with_http_info
    api221_logout_post_with_http_info = logout_post_with_http_info
    api221_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api221_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api222_login_post_with_http_info = login_post_with_http_info
    api222_logout_post_with_http_info = logout_post_with_http_info
    api222_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api222_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api223_login_post_with_http_info = login_post_with_http_info
    api223_logout_post_with_http_info = logout_post_with_http_info
    api223_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api223_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api224_login_post_with_http_info = login_post_with_http_info
    api224_logout_post_with_http_info = logout_post_with_http_info
    api224_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api224_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api225_login_post_with_http_info = login_post_with_http_info
    api225_logout_post_with_http_info = logout_post_with_http_info
    api225_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api225_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api226_login_post_with_http_info = login_post_with_http_info
    api226_logout_post_with_http_info = logout_post_with_http_info
    api226_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api226_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api227_login_post_with_http_info = login_post_with_http_info
    api227_logout_post_with_http_info = logout_post_with_http_info
    api227_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api227_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api228_login_post_with_http_info = login_post_with_http_info
    api228_logout_post_with_http_info = logout_post_with_http_info
    api228_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api228_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api229_login_post_with_http_info = login_post_with_http_info
    api229_logout_post_with_http_info = logout_post_with_http_info
    api229_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api229_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api23_login_post_with_http_info = login_post_with_http_info
    api23_logout_post_with_http_info = logout_post_with_http_info
    api23_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api23_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api230_login_post_with_http_info = login_post_with_http_info
    api230_logout_post_with_http_info = logout_post_with_http_info
    api230_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api230_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api231_login_post_with_http_info = login_post_with_http_info
    api231_logout_post_with_http_info = logout_post_with_http_info
    api231_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api231_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api232_login_post_with_http_info = login_post_with_http_info
    api232_logout_post_with_http_info = logout_post_with_http_info
    api232_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api232_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api233_login_post_with_http_info = login_post_with_http_info
    api233_logout_post_with_http_info = logout_post_with_http_info
    api233_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api233_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api234_login_post_with_http_info = login_post_with_http_info
    api234_logout_post_with_http_info = logout_post_with_http_info
    api234_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api234_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api235_login_post_with_http_info = login_post_with_http_info
    api235_logout_post_with_http_info = logout_post_with_http_info
    api235_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api235_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api236_login_post_with_http_info = login_post_with_http_info
    api236_logout_post_with_http_info = logout_post_with_http_info
    api236_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api236_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api237_login_post_with_http_info = login_post_with_http_info
    api237_logout_post_with_http_info = logout_post_with_http_info
    api237_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api237_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api238_login_post_with_http_info = login_post_with_http_info
    api238_logout_post_with_http_info = logout_post_with_http_info
    api238_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api238_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api239_login_post_with_http_info = login_post_with_http_info
    api239_logout_post_with_http_info = logout_post_with_http_info
    api239_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api239_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api24_login_post_with_http_info = login_post_with_http_info
    api24_logout_post_with_http_info = logout_post_with_http_info
    api24_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api24_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api240_login_post_with_http_info = login_post_with_http_info
    api240_logout_post_with_http_info = logout_post_with_http_info
    api240_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api240_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api241_login_post_with_http_info = login_post_with_http_info
    api241_logout_post_with_http_info = logout_post_with_http_info
    api241_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api241_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api242_login_post_with_http_info = login_post_with_http_info
    api242_logout_post_with_http_info = logout_post_with_http_info
    api242_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api242_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api243_login_post_with_http_info = login_post_with_http_info
    api243_logout_post_with_http_info = logout_post_with_http_info
    api243_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api243_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api244_login_post_with_http_info = login_post_with_http_info
    api244_logout_post_with_http_info = logout_post_with_http_info
    api244_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api244_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api245_login_post_with_http_info = login_post_with_http_info
    api245_logout_post_with_http_info = logout_post_with_http_info
    api245_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api245_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api246_login_post_with_http_info = login_post_with_http_info
    api246_logout_post_with_http_info = logout_post_with_http_info
    api246_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api246_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api25_login_post_with_http_info = login_post_with_http_info
    api25_logout_post_with_http_info = logout_post_with_http_info
    api25_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api25_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api26_login_post_with_http_info = login_post_with_http_info
    api26_logout_post_with_http_info = logout_post_with_http_info
    api26_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api26_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api27_login_post_with_http_info = login_post_with_http_info
    api27_logout_post_with_http_info = logout_post_with_http_info
    api27_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api27_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api28_login_post_with_http_info = login_post_with_http_info
    api28_logout_post_with_http_info = logout_post_with_http_info
    api28_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api28_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
    api29_login_post_with_http_info = login_post_with_http_info
    api29_logout_post_with_http_info = logout_post_with_http_info
    api29_api_api_version_get_with_http_info = api_api_version_get_with_http_info
    api29_oauth210_token_post_with_http_info = oauth210_token_post_with_http_info
